@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Kumbh+Sans:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');


:root {
    --primary-color: #3498db;
    --secondary-color: #2980b9;
    --text-color: #2c3e50;
    --background-color: #ecf0f1;
    --modal-background: #ffffff;
    --success-color: #2ecc71;
    --error-color: #e74c3c;
}


body {
    font-family: 'Alata', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #90B4CE;
}
/*Empieza el nav*/

header {
    background-color: #A2C3DA;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
    position: fixed;
    height: 9%;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #A2C3DA;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    align-items: center;
}

.logo img {
    height: 70px;
    padding-left: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.nav-links li {
    display: inline-block;
}

.profile-menu {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 40px;
}

.profile-menu p{
    color: white;
}

.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.dropbtn {
    background-color: #65A8E5;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    right: 0;
    min-width: 160px;
    border-radius: 5px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}

nav ul li a {
    color: #094067;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
}

nav ul li a:hover{
    color: #fff;
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/*Empezamos con la edicion del main*/
.contenedor{
    display: flex;
    height: 90vh;
    background-color: #90B4CE;
    padding: 5px 10px;
    margin-top: 3%;
    align-items: center;
    gap: 1vw;
    justify-content: center;
}
/*Edicion de cuadro profesor*/
.contenido-profesor{
    height: 70%;
    width: 52.99vw;
    background-color: #90B4CE;
    border-radius: 50px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3vh;
}


/*Empieza el armado del contenido de profesor*/
.article-datos{
    height: 90%;
    width: 18vw;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 26px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5vh;
}

/*Editando imagen de datos*/
.foto{
    height: 56%;
    width: 17vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foto img{
    height: 100%;
    width: 90%;
}

.conocimientos {
    /* ... tus estilos existentes ... */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Ajusta 100px según el ancho mínimo deseado para cada elemento */
    gap: 5px; /* Ajusta el espacio entre elementos según prefieras */
    height: 25%;
    width: 75%;
    justify-content: center;
    align-items: center;

}

.skill {
    background-color: rgba(9, 64, 103, .6); /* O el color que desees para el fondo de cada habilidad */
    padding: 10px; 
    text-align: center;
    border-radius: 5px;
    color: white;
}

/*Se edita descripcion*/
.descripcion{
    height: 80%;
    width: 55%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vh;
}

.titulo-nombre{
    height: 15%;
    width: 100%;

    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.titulo-nombre h1{
    font-family: 'Alata';
    font-size: 2rem;
    padding: 20px;
    font-weight: bold;
}
.descripcion-rol{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.descripcion-rol p{
    font-family: 'Alata';
    font-size: 1.5rem;
    padding: 20px;
}
.resumen-perfil{

    height: 30%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: rgba(0, 0, 0, .7);
    background-color: rgba(255, 255, 255, .5);
    border-radius: 26px;

}
.resumen-perfil p{
    font-family: 'alata';
    font-size: 1.2rem;
    padding: 26px;
}

.precio{
    margin-top: 2%;
    height: 12%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 26px;
}
.precio p{
    font-family: 'alata';
    font-size: 1.5rem;
    padding: 26px;
}

.botones{
    height: 15%;
    width: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2vw;
}

.botones a{
    height: 2vh;
    width: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #094067;
    padding: 15px;
    color: white;
    list-style: none;
    font-family: 'alata';
    font-size: 1.5rem;
    border-radius: 30px;
    text-decoration: none;
    transition: all 0.3s ease; /* Esto aplica la animación suave */

}
.botones a:hover{
    background-color: #65A8E5;
    transform: scale(1.1); /* Aumenta el tamaño del botón */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Agrega sombra al botón */

}
/*Pasamos a la parte de comentarios*/
.comentarios{
    height: 80%;
    width: 17.969vw;
    background-color: #C4E0EF;
    border-radius: 50px;
    gap: .7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);

    
}

.titulo-pregunta{
    height: 7%;
    width: 95%;
    color: #000000;
    background-color: #8FBFC9;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.titulo-pregunta p{
    font-size: 1.5rem;
    padding: 7px;
}

.personas-comentarios{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50%;
    width: 100%;
    gap: 2vh;
}

.persona-foto{
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 100%;
}

.img-persona{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
}

.persona-comentario{

    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.nombre-persona{
    height: 40%;

    width: 100%;
    display: flex;
    align-items: center;
}

.nombre-persona p{
    padding: 20px;
    font-family: 'Alata';
    font-size: 1.5rem;
    color: rgba(0, 0, 0, .7);
}

.comentario-persona{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 60%;
    width: 80%;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, .6);
    margin-left: 10px;

}
.comentario-persona p{
    font-size: 1.5rem;
}

.foto-monigote{
    height: 35%;
}

/*Edicion MODAL*/

.container-modal-pago {
    display: none; /* Inicialmente oculto */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    height: auto;
    width: 50vw;
    border-radius: 20px;
    gap: .5vh;
    position: fixed; /* Para posicionar el botón de cierre */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrar el modal */
    z-index: 1000; /* Asegurar que el modal esté por encima de otros elementos */
}


.container-modal-pago.show { 
    display: flex; /* Mostrar cuando tiene la clase 'show' */
}

/* Fondo difuminado */
.modal-overlay.show::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad según sea necesario */
    z-index: 999; /* Un nivel menos que el modal */
}

.img-pago {
    width: 14%;
    height: 25%;
    border-radius: 90%;
    margin-top: -5%;
}

.img-pago img {
    height: 100%;
    width: 100%;
}

.container-labels {
    background-color: rgba(255, 255, 255, .7);
    height: 85%;
    width: 100%;
    border-radius: 20px;
}

/*Desplegable modal*/



.btn-dropdown:hover {
    background-color: #2980b9;
}


.dropdown-menu.show {
    display: block;
}

.dropdown-menu li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    background-color: white;
}

.hide {
    display: none;
}

/*Editando cosas*/


form {
    padding: 40px;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

h2 {
    color: var(--primary-color);
    margin: 0 0 20px;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}

.success-message {
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
    color: var(--text-color);
}

.icon-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

.icon-box i {
    font-size: 40px;
    color: var(--success-color);
    margin-bottom: 10px;
}

.icon-box span {
    font-size: 14px;
    color: var(--text-color);
    text-align: center;
}

.close-btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    width: 97.5%;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.close-btn:hover {
    background-color: var(--secondary-color);
    transform: translateY(-2px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

/* Estilos adicionales para el modal de pago */
#paymentModal {
    display: none;
}

#paymentModal .modal {
    width: 500px;
}


.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}
.agrandar-label{
    width: 15vw;
}

.option-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 97.5%;
    gap: 2vw;
}

.option-button {
    flex: 1;
    padding: 10px;
    border: 2px solid var(--primary-color);
    background-color: white;
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.option-button:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.option-button:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.option-button.selected {
    background-color: var(--primary-color);
    color: white;
}

.payment-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 97.5%;
    gap: 2vw;
}

.payment-option {
    flex: 1;
    text-align: center;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.payment-option.selected {
    border-color: var(--success-color);
    background-color: rgba(46, 204, 113, 0.1);
}

.payment-option i {
    font-size: 24px;
    margin-bottom: 5px;
}

#cashDetails, #cardDetails{
    display: none;
    margin-top: 20px;
    
}

#cardDetails.grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#cardDetails .form-group {
    display: flex;
    flex-direction: column;
}


.modal-overlay.show .modal {
    transform: scale(1);
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}


h2 {
    color: #094067;
    margin: 0 0 20px;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}

.success-message {
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
    color: var(--text-color);
}

.icon-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

.icon-box i {
    font-size: 40px;
    color: var(--success-color);
    margin-bottom: 10px;
}

.icon-box span {
    font-size: 14px;
    color: var(--text-color);
    text-align: center;
}

/* estilos dentro del modal */
.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97.5%;
    gap: 2vw;
}

.form-group {
    flex: 1;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.btn-dropdown {
    background-color: #3498db;
    color: white;
    padding: 10px 112px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%; /* Hacer que el botón llene el espacio disponible */
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    background-color: white;
    text-align: center;
}

.dropdown-menu li a:hover {
    background-color: #f1f1f1;
}

.option-button {
    padding: 10px;
    border: 2px solid var(--primary-color);
    background-color: white;
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 500;
    cursor: not-allowed;
    width: 100%;
    border-radius: 5px;
}

/* Hacer que los campos de correo y clase llenen el espacio */
#classEmailGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.readonly-input {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}

/* Estilo del botón de aceptar */
.close-btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    width: 97.5%;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.close-btn:hover {
    background-color: var(--secondary-color);
    transform: translateY(-2px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}


/*Alineando con grid*/


.form-group select,
.form-group input {
    width: 90%;
    padding: 10px 6px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}
.readonly-input {
    background-color: #f0f0f0; /* Fondo gris claro para indicar que es solo lectura */
    cursor: not-allowed; /* Cambia el cursor para mostrar que no se puede interactuar */
    border: 1px solid #ddd; /* Borde para mantener el diseño consistente */
    color: #333; /* Color de texto para mejorar la visibilidad */
}


/* Estilos para el botón de cierre del modal */
.close-modal-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #333;
    cursor: pointer;
}

#pageOverlay {
    display: none; 
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999; 
    backdrop-filter: blur(10px); /* Ajusta el valor (10px) para controlar el nivel de desenfoque */
}

#modalOverlay.show ~ #pageOverlay {
    display: block; 
}

.linea {
    width: 95%;
    height: 0.1rem;
    background-color: #ddd;
    margin: .5rem auto;
    margin-top: 10px;
}


.final{
    padding: 10px 10px;
    text-align: center;
    padding-top: 0;
    p{
        font-size: .7rem;
        color: white;
    }
}

@media (max-width: 1536px) {
    .contenedor {
        gap: 30px;
        padding-bottom: 0;
    }
    .contenido-profesor {
        height: 80%;
        width: 70%;
    }
    .article-datos {
        width: 30%;
    }
    .foto {
        height: 170px;
        width: 170px;
        border-radius: 50%;
        padding-bottom: 70px;
    }
    .nombre{
        position: absolute;
        padding-top: 70px;
        padding-bottom: 30px;
    }
    .comentarios {
        width: 25%;
    }
    .titulo-pregunta {
        margin-top: 40px;
    }
    .foto-monigote {
        img{
            height: 100%;
        }
    }
    .linea {
        margin-top: 0;
    }
    .final {
        padding: 0;
    }
    
}

@media (min-width: 1920px) {

    .contenedor {
        gap: 50px;
        padding-bottom: 0;
    }
    .contenido-profesor {
        height: 80%;
        width: 70%;
    }
    .article-datos {
        width: 30%;
    }
    .foto {
        height: 170px;
        width: 170px;
        border-radius: 50%;
        padding-bottom: 70px;
    }

    .container-modal-pago {
        display: none; /* Inicialmente oculto */
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #fff;
        height: auto;
        width: 40vw;
        border-radius: 20px;
        gap: .5vh;
        position: fixed; /* Para posicionar el botón de cierre */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Centrar el modal */
        z-index: 1000; /* Asegurar que el modal esté por encima de otros elementos */
    }

    .btn-dropdown {
        background-color: #3498db;
        color: white;
        padding: 10px 130px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        width: 100%; /* Hacer que el botón llene el espacio disponible */
    }
}

@media screen and (max-width: 1024px){

    .skill {
        background-color: rgba(9, 64, 103, .6);
        padding: 1px;
        text-align: center;
        border-radius: 5px;
        color: white;

    }

    .botones a {
        width: 100px;
    }

    .titulo-nombre h1 {
        padding-left: 20px;
        padding-bottom: 15px;
    }

    .resumen-perfil {
        height: 50%;
    }

    .descripcion-rol p {
        padding-left: 20px;
        padding-bottom: 30px;
    }

    .titulo-pregunta p {
        text-align: center;
    }

    .comentario-persona p {
        font-size: medium;
    }

    .personas-comentarios {
        padding-top: 10px;
    }

    .titulo-pregunta {
        height: 12%;
        width: 80%;
    }

    .btn-dropdown {
        padding-top: 10px;
        padding-right: 33px;
    }
}
