/* General */
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

* {
    font-family: 'Alata';
}

body {
    font-family: 'Alata', sans-serif;
    background-color: #90B4CE;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #A2C3DA;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #A2C3DA; /* Ajusta el color de fondo según tu diseño */
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
    display: flex; /* Alinea los elementos dentro del nav */
    justify-content: space-between; /* Ajusta la alineación horizontal */
    padding: 10px 20px; /* Añade un poco de espacio alrededor del contenido */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Añade una sombra suave para mejorar la visibilidad */
    box-sizing: border-box; /* Incluye padding y border en el ancho total */
    align-items: center;
    padding-right: 100px;
    }

.logo img {
    margin-top: 10px;
    height: 70px;
    padding-left: 60px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: #094067;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
    display: inline-block;
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

nav ul li a:hover {
    color: #fff;
}

.profile-menu {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-menu p {
    color: whitesmoke;
}

.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.dropdown {
    position: relative;
}

.dropbtn {
    background-color: #65A8E5;
    padding: 10px;
    width: auto;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 30px;
    height: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    ;
}

.dropbtn img {
    padding-bottom: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    right: 0;
    min-width: 160px;
    border-radius: 5px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 5px;
}

.dropbtn:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}

.active {
    background-color: white;
    border: px solid #ccc;
}

.container {
    display: flex;
    padding-top: 120px;
    padding-left: 50px;
    padding-right: 50px;
    gap: 30px;
}

.catalogo {
    width: 20%;
    height: fit-content;
    background-color: #f5f1f18c;
    border-radius: 10px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-size: 11px;
    box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.2);
}

.catalogo h2 {
    color: #094067;
    font-size: 30px;
    padding-left: 20px;
    width: fit-content;
    font-weight: normal;
    text-shadow: 2px 10px 10px rgba(0, 0, 0, 0.3);

}

ul#class-list {
    list-style-type: none;
    width: auto;
    color: #5686E1;
    text-align: center;
}

ul#class-list li, .item-cc {
    border-left: 10px solid #12A4E3;
    /* Borde gris por defecto, prueba para ver cambios */
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.565);
    padding: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.274);
}

ul#class-list li.selected {
    border-color: #085272;
    /* Borde rojo para el seleccionado, prueba para ver cambios */
    padding-left: 30px;
    margin-left: -30px;
}

.item {
    transition: transform 0.3s ease;
    /* Transición suave para el zoom */
    display: none;
}

ul#class-list li.selected:hover {
    transform: scale(1.0);
}

.item:hover {
    transform: scale(1.1);
    /* Aumenta el tamaño al pasar el mouse */
}

main {
    flex: 1;
    height: 40px;
}

.profile-section {
    width: 30%;
    background-color: #f5f1f18c;
    border-radius: 20px;
    text-align: center;
    padding-bottom: 20px;
    box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.2);
}

.profile-section img {
    height: 125px;
    width: 125px;
    object-fit: cover;
    border-radius: 50%;
    padding: 10px 10px;
    margin-bottom: 0;
}

.profile-section h2 {
    margin: 0;
    color: #094067;
}

.profile-info{
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.welcome {
    display: flex;
    background: linear-gradient(to right, #12A4E3 0%, #12A4E3 4%, #12A4E3 50%, #578CCA 100%);
    padding: 20px;
    border-radius: 20px;
    color: white;
    box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.2);
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 16px;
    width: auto;
    height: 70px;
    text-shadow: 2px 10px 10px rgba(0, 0, 0, 0.5);
}

.section {
    display: flex;
    justify-content: space-between;
    /* Distribuye el espacio entre los elementos */
    align-items: center;
    /* Alinea verticalmente los elementos al centro */
}

.section h2 {
    color: white;
    font-weight: lighter;
    text-shadow: 2px 10px 10px rgba(0, 0, 0, 0.3);
}

.section button {
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el botón */
    border-radius: 20px;
    box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.2);
    border: none;
    padding: 10px;
    transition: transform 0.3s ease;
}

.section button:hover {
    background-color: #e9f6ff;
    transform: scale(1.1)
}

.subjects {
    display: flex;
    gap: 15px;
    margin-top: 5px;
}

.subject h3{
    font-size: 16px;
}

.subject {
    background: linear-gradient(to right, #fffefe4e 0%, #fffefe4e 4%, #66b3ff 50%, #66b3ff 100%);
    padding: 5px;
    padding-left: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    text-align: left;
    flex: 1;
    box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.2);
    text-shadow: 2px 10px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.subject:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.subject p {
    font-size: 12px;
    margin-right: 10px;
    /* Espacio entre el texto y el ícono */
}

.profile-icon {
    display: inline-block;
    width: 40px;
    /* Ajusta según el tamaño deseado */
    height: 40px;
    border-radius: 50%;
    /* Hace el borde redondo */
}

.class-table,
.class-table th,
.class-table td {
    padding: 10px;
    text-align: center;
    border: none;
    /* Elimina todos los bordes */
    padding: 10px;
    /* Ajusta el relleno según sea necesario */
}

.class-table {
    margin-top: 30px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    border-collapse: collapse;
    /* Asegúrate de que los bordes estén colapsados */
}

.border-top-left-table{
    border-top-left-radius: 10px;
}

.border-top-right-table{
    border-top-right-radius: 10px;
}

.class-table th {
    background-color: #12A4E3;
    color: #ffffff;
    font-size: 16px;
}

.class-table td {
    color: #333;
    font-size: 12px;
}

.class-table tbody tr {
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.class-table tbody tr:hover {
    background-color: #e0f7ff;
    /* Celeste claro */
    transform: scale(1.02);
}

.class-table tr:hover td {
    color: #007acc;
    /* Cambia el color del texto al pasar el mouse */
}

/* Estilos calendario */

#calendar-container {
    margin: 5px;
    /* Reducir el espacio superior e inferior */
    background-color: #ffffff;
    /* Blanco */
    /* Celeste */
    border-radius: 8px;
    /* Reducir el radio del borde */
    padding-top: 2px;
    /* Reducir el padding */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Reducir la sombra */
    font-size: 10px;
}

#calendar {
    max-width: 100%;
    margin: 0 auto;
    height: 200px;
    /* Altura fija de 350px */
}

.fc-toolbar {
    font-size: 0.85em;
    /* Reducir el tamaño de la barra de herramientas */
}

.fc-toolbar-title {
    font-size: 1.2em;
    /* Ajustar el tamaño del título */
    color: #00bfff;
    /* Título celeste */
}

.fc .fc-button {
    padding: 5px 10px;
    /* Reducir el padding de los botones */
    font-size: 0.85em;
    /* Reducir el tamaño del texto en los botones */
    background-color: #006688;
    border: 1px #00416d solid;
    color: white;
    /* Texto celeste */
    border-radius: 4px;
    /* Reducir el radio de los bordes de los botones */
}

.fc .fc-button:hover {
    background-color: #006688c9;
    /* Fondo celeste al pasar el mouse */
    color: #ffffff;
    /* Texto blanco al pasar el mouse */
}

.fc-daygrid-event {
    background-color: #00bfff;
    /* Eventos celestes */
    border-color: #00bfff;
    font-size: 0.85em;
    /* Reducir el tamaño del texto en los eventos */
}

.fc-day-today {
    background-color: #e6f7ff;
    /* Día actual en un celeste suave */
}

.reminders {
    height: 100px;
    margin: 0px 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    font-size: 12px;
}

.fa-bell {
    color: #007BFF; /* Color azul */
    font-size: 18px; /* Tamaño */
    cursor: pointer; /* Cambiar cursor al pasar sobre el ícono */
}

.linea {
    width: 95%;
    height: 0.1rem;
    background-color: #ddd;
    margin: .5rem auto;
    margin-top: 30px;
}

.final{
    padding: 10px 10px;
    text-align: center;
    padding-top: 0;
    p{
        font-size: .7rem;
        color: white;
    }
}

@media(1280px < width <= 1366px){
    #calendar{
        height: 225px;
    }
    .fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events{
        font-size: .5em;
        min-height: 0;
    }
    .profile-section{
        padding-bottom: 12px;
        img{
            height: 80px;
            width: 80px;
        }
    }
    .profile-info{
        padding-bottom: 10px;
    }
}

@media(800px < width <= 1280px){
    .welcome{
        padding: 10px;
        font-size: 16px;
    }
    .profile-section{
        padding-bottom: 5px;
        img{
            height: 90px;
            width: 90px;
        }
    }
    .section h2{
        font-size: 20px;
    }
    .class-table td{
        font-size: 10px;
    }
}