:root{
    font-size: 16px;
    /*colores*/
    --blanco: #FFFFFF;
    --celesteFondo: #A2C3DA;
    --celesteClaro: #3498db;
    --azul: #236391;
    --azul-oscuro: #094067;
    /*fonts*/
    --fredoka: "Fredoka", sans-serif;
    --alata: "Alata", sans-serif;
    --kumbh: "Kumbh Sans", sans-serif;
}

body{
    width: 100%;
    font-family: 'Alata', sans-serif;
    background-color: var(--celesteFondo);
    padding: 5px;
    padding-top: 40px;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header{
    background-color: var(--celesteFondo);
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #A2C3DA; /* Ajusta el color de fondo según tu diseño */
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
    display: flex; /* Alinea los elementos dentro del nav */
    justify-content: space-between; /* Ajusta la alineación horizontal */
    padding: 10px 20px; /* Añade un poco de espacio alrededor del contenido */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Añade una sombra suave para mejorar la visibilidad */
    box-sizing: border-box; /* Incluye padding y border en el ancho total */
    align-items: center;
    padding-right: 100px;
    }

.logo img {
    margin-top: 10px;
    height: 70px;
    padding-left: 60px;
}

.search-bar {
    padding-top: 15px;
}

.search-input {
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    border-radius: 20px;
    width: 300px;
    font-size: 15px;
}

#search-bar {
    width: 300px;
    position: relative;
    background-color: white;
    border: none;
}

.search-icon {
    position: relative;
    top: 20px;
    right: 35px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 14.4px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 14px;
    color: grey;
    appearance: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: #094067;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
    display: inline-block;
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

nav ul li a:hover {
    color: #fff;
}

.profile-menu {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-menu p {
    color: whitesmoke;
}

.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.dropdown {
    position: relative;
}

.dropbtn {
    background-color: #65A8E5;
    padding: 10px;
    width: auto;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 30px;
    height: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    ;
}

.dropbtn img {
    padding-bottom: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    right: 0;
    min-width: 160px;
    border-radius: 5px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 5px;
}

.dropbtn:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}

.active {
    background-color: white;
    border: px solid #ccc;
}

main{
    flex: 1;
    padding: 40px;
    gap: 10px;
    margin-top: 90px;
}

.container{
    display: flex;
    width: 100%;
    padding-right: 50px;
    gap: 30px;
}

.catalogo {
    width: 30%;
    height: fit-content;
    background-color: #f5f1f18c;
    border-radius: 10px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 60px;
    font-size: 11px;
    box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.2);
}

.catalogo h2 {
    color: #094067;
    font-size: 30px;
    padding-left: 20px;
    width: fit-content;
    font-weight: normal;
    text-shadow: 2px 10px 10px rgba(0, 0, 0, 0.3);

}

ul#class-list {
    list-style-type: none;
    width: auto;
    color: #5686E1;
    text-align: center;
}

ul#class-list li {
    border-left: 10px solid #12A4E3;
    /* Borde gris por defecto, prueba para ver cambios */
    border-radius: 10px;
    background-color: white;
    padding: 8px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.274);
}

ul#class-list li.selected {
    border-color: #085272;
    /* Borde rojo para el seleccionado, prueba para ver cambios */
    padding-left: 40px;
    margin-left: -30px;
}

.item {
    transition: transform 0.3s ease;
    /* Transición suave para el zoom */
}

ul#class-list li.selected:hover {
    transform: scale(1.0);
}

.item:hover {
    transform: scale(1.1);
    /* Aumenta el tamaño al pasar el mouse */
}

section{
    width: 100%;
}

.banner {
    background: linear-gradient(to right, #1A7196 0%, #1A7196 4%, #578CCA 50%, #578CCA 100%);
    font-family: var(--alata);
    padding: 45px;
    padding-right: 1rem;
    box-sizing: border-box;
    margin: 10px;
    margin-bottom: 40px;
    border-radius: 20px;
    color: var(--blanco);
    flex: 1;
    width: 98%;
    height: 60px;
    box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.1);
    text-shadow: 2px 10px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
}

.banner img{
    position: absolute;
    top: .5rem;
    right: 23rem;
    width: 380px;
    height: auto;
}

/* Main Content Area */
.profesores-disponibles {
    flex: 1;
    flex-direction: column;
    padding: 20px;
}

.cards-conteiner{
    display: flex;
    flex-wrap: wrap;
    width: 91%;
    margin-left: 45px;
    gap: 30px;
}

/* Card Styles */
.card{
    flex: 1 1 calc(20% - 30px); /* Tres tarjetas por fila menos el espacio del gap */
    box-sizing: border-box;
    background-color: var(--blanco);
    border-radius: 20px;
    padding: 25px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    button a{
        text-decoration: none;
        color: var(--celesteClaro);
    }
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.image-card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.card-content{
    padding: 0;
    text-align: center;
}

.card-content h3{
    color: #232020;
    margin: 0 0 5px 0;
}

.rating{
    color: #1D4F74;
    margin: 5px 0;
}

.card-content .btn-c{
    background-color: var(--blanco);
    color: #4573CE;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease;
}

.card-content .btn-py{
    background-color:#4573CE;
    color: var(--blanco);
    border: none;
    padding: 6px 12px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease;
}

.card-content .btn-c:hover{
    background-color: #4573CE;
    color: var(--blanco);
}

.right-section{
    flex: 1;
}

.video{
    padding-top: 10px;
    padding-bottom: 15px;
    border-radius: 10px;
}

iframe{
    height: 310px;
    border-radius: 16px;
}

.tenes-alguna-duda{
    height: 310px;
    background: linear-gradient(to bottom, #1A7196 0%, #1A7196 4%, #578CCA 50%, #578CCA 100%);
    padding: 2.4rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.tenes-alguna-duda h3{
    font-family: var(--alata);
    font-size: 24px;
    color: var(--blanco);
}

.tenes-alguna-duda img{
    width: 150px;
    height: auto;
    padding-bottom: 1rem;
}

.btn-consultar{
    background-color: #99BBDB;
    color: var(--blanco);
    font-family: 'Alata', sans-serif;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 60%;
    box-shadow:  0 5px rgba(0, 0, 0, 0.1);
}

.btn-consultar:hover{
    background-color: var(--azul-oscuro);
}
