:root{
    --secondary-blue: #094067;
    --white: #FFFFFF;
    --sky-blue: #A2CEF0;
    --soft-blue: #236391;
    --background-color: #A2C3DA;
    --fredoka: "Fredoka", sans-serif;
    --alata: "Alata", sans-serif;
    --kumbh: "Kumbh Sans", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

.btn,
button{
    cursor: pointer;
}

.body-cursos{
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
}

header {
    background-color: #A2C3DA;
    padding-left: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: grid;
    grid-template-columns: auto auto auto 140px;
    align-items: center;
}

.logo img {
    margin-top: 10px;
    height: 70px;
    padding-left: 60px;
}

.search-bar {
    width: 400px;
    border-radius: 20px;
    padding-top: 15px;
}

.search-bar input {
    width: 200px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-family: var(--alata);
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"]{
    width: calc(100% - 50px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    font-family: var(--alata);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links li{
    display: inline-block;
    padding-right: 50px;
    
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
    font-family: var(--alata);
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.profile-menu {
    position: relative;
    display: inline-block;
}

.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #65A8E5;
    padding: 10px;
    width: auto;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 30px;
    height: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);;
}

.dropbtn img{
    padding-bottom: 24px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    right: 0;
    min-width: 160px;
    border-radius: 5px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: var(--alata);
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.show{
    display: block;
}

.active {
    background-color: white;
    border: 1px solid #ccc;
}

.main-cursos{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;

    section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 85%;
        margin: auto;
        flex-wrap: wrap;
        gap: 2rem;

        .article-cursos{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-color: #fffffe88;
            width: 28rem;
            height: 10rem;
            border-radius: 10px;
            padding: 10px 30px;
            transition: box-shadow .2s ease-in-out;

            .texto-article-cursos{
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: space-between;
                gap: 1rem;
                width: 70%;

                h2{
                    font-family: var(--alata);
                    color: var(--secondary-blue);
                    font-size: 1.5rem;
                }

                p{
                    font-family: var(--alata);
                    color: #555;
                    font-size: .8rem;
                }

                button{
                    font-family: var(--alata);
                    font-size: 1rem;
                    padding: 2px 10px;
                    background-color: var(--sky-blue);
                    border: 0;
                    border-radius: 10px;
                    color: var(--secondary-blue);
                    
                }
                button:hover{
                    background-color: #A2CEF077;
                    outline: 1px solid var(--secondary-blue);
                    transition: all .3s ease-in-out;
                }
            }

            .imagen-article-cursos{
                text-align: center;
                background-color: var(--background-color);
                border-radius: 50%;
                width: 25%;
                height: 70%;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;

                img{
                    padding: 10px;
                    width: 80px;
                    object-fit: cover;
                }
            }
        }

        .article-cursos:hover{
            transition: all .2s ease-in-out;
            -webkit-box-shadow: 6px 6px 14px -6px rgba(79,79,79,1);
            -moz-box-shadow: 6px 6px 14px -6px rgba(79,79,79,1);
            box-shadow: 6px 6px 14px -6px rgba(79,79,79,1);
            background-color: #fffffea5;
        }
    }

    .volver-cursos{
        color: var(--secondary-blue);
        font-family: var(--alata);
        font-size: 1.3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .8rem;
        width: fit-content;
        padding: 0 3px;
        margin-left: 5rem;
        margin-top: 1.5rem;
        cursor: pointer;
        
        #flecha-volver-cursos{
            font-size: 2rem;
        }
    }
}