:root{
    --secondary-blue: #094067;
    --white: #FFFFFF;
    --sky-blue: #A2CEF0;
    --soft-blue: #236391;
    --fredoka: "Fredoka", sans-serif;
    --alata: "Alata", sans-serif;
    --kumbh: "Kumbh Sans", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

.btn{
    cursor: pointer;
}

.body-index{
    background-color: #A2C3DA;
    display: flex;
    flex-direction: column;
}

.header-index{
    display: flex;
    flex-direction: column;
}

.nav-index{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;

    .logo-index{
        width: 20%;

        img{
            width: 200px;
        }
    }

    .menu-index{
        display: flex;
        gap: 1.3rem;
        align-items: center;

        li{
            list-style: none;

            a{
                color: var(--secondary-blue);
                text-decoration: none;
                font-family: var(--kumbh);
                font-size: 1.25rem;
                text-shadow: 0;
                transition: 
                    color .3s,
                    text-shadow .3s,
            }

            a:hover{
                color: var(--white);
                text-shadow: 3px 3px 5px rgba(0,0,0,0.38);
            }
        }
    }

    .btn-index button{
        background-color: var(--secondary-blue);
        padding: 1rem 2rem;
        border-radius: 50px;
        border: none;
        color: var(--white);
        font-family: var(--kumbh);
        font-size: 1.25rem;
        transition: 
            background-color .4s,
            color .4s;
        a{
            color: var(--white);
            text-decoration: none;
        }
    }

    .btn-index button:hover{
        background-color: var(--sky-blue);
        a{
            color: var(--secondary-blue);
        }
    }
}

.section-bienvenida{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;

    .texto-bienvenida{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h1{
            font-family: var(--kumbh);
            font-size: 3rem;
            color: #272343;
            text-shadow: 0 1px 2px #2a2a2a;
        }

        p{
            font-family: var(--alata);
            font-size: 1.2rem;
            color: var(--secondary-blue);
        }
        
        .buttons-header{
            display: flex;
            margin-top: 1rem;
            gap: 1rem;
        }

        button{
            cursor: pointer;
            width: 10rem;
            background-color: var(--secondary-blue);
            font-family: var(--kumbh);
            color: var(--white);
            border-radius: 50px;
            border: none;
            padding: 1rem 2rem;
            box-shadow: 6px 7px 4px -4px rgba(0,0,0,0.53);
            -webkit-box-shadow: 6px 7px 4px -4px rgba(0,0,0,0.53);
            -moz-box-shadow: 6px 7px 4px -4px rgba(0,0,0,0.53);
            transition: transform .2s ease-in;
            a{
                color: var(--white);
                text-decoration: none;
            }
        }
        button:nth-child(1){
            background-color: #3DA9FC;
        }
        button:hover{
            transform: scale(1.1);
        }
    }
}

.main-index{
    display: flex;
    flex-direction: column;

    .cursos-solicitados article{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;

        h2{
            font-family: var(--fredoka);
            color: var(--white);
            text-shadow: 0 1px 2px #2a2a2a;
            font-size: 2.3rem;
            line-height: 10vh;
            text-align: center;
            text-align: center;
        }

        .cont-cursos-solicitados-index{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5rem;
            height: 90vh;

            .curso-solicitado-index{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1.1rem;
                img{
                    width: 15rem;
                }
                p{
                    font-family: var(--alata);
                    color: var(--secondary-blue);
                    text-align: center;
                }
                .btn-solicitar-index{
                    background-color: var(--secondary-blue);
                    color: var(--white);
                    font-family: var(--fredoka);
                    padding: .5rem 1rem;
                    border-radius: 50px;
                    width: 10rem;
                    cursor: pointer;
                    transition: transform .2s ease-in;
                    border: none;
                }
                .btn-solicitar-index:hover{
                    transform: scale(1.1);
                    background-color: var(--soft-blue);
                }
            }
        }
        .cont-cursos-solicitados-index::after{
            content: "\1F812";
            font-size: 2rem;
            color: var(--white);
        }
        .cont-cursos-solicitados-index::before{
            content: "\1F810";
            font-size: 2rem;
            color: var(--white);
        }
    }

    .testimonios-index{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;

        .estadistica-index{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            background-color: var(--secondary-blue);
            color: var(--white);
            width: 100%;
            height: 18vh;
            font-family: var(--alata);
            font-size: 1.5rem;
            box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
        }
        .cont-testimonios-index{
            display: flex;
            height: 82vh;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            padding-top: 5rem;

            .testimonio{
                background-color: #ffffffaf;
                width: 10rem;
                height: 14rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: .8rem;
                border-radius: 16px;
                box-shadow: 6px 7px 4px -4px rgba(0,0,0,0.53);

                img{
                    width: 6rem;
                    border-radius: 50%;
                    border: 1px solid #ffffffaf;
                    padding: 10px;
                    margin-top: -8rem;
                    margin-bottom: 1rem;
                    background-color: #A2C3DA;
                }

                .testi-estrellas{
                    display: flex;
                    gap: .5rem;
                    font-size: 1.3rem;
                    color: var(--secondary-blue);
                }
                .testi-detalles{
                    display: flex;
                    flex-direction: column;
                    gap: .8rem;
                    justify-content: center;
                    align-items: center;

                    .testi-nombre{
                        font-family: var(--alata);
                        color: var(--secondary-blue);
                        font-size: 1.5rem;
                        font-weight: bold;
                    }
                    .testi-curso{
                        font-family: var(--kumbh);
                        font-size: .8rem;
                        color: var(--soft-blue);
                    }
                    .testi-resena{
                        font-family: var(--kumbh);
                        font-size: .8rem;
                        color: var(--soft-blue);
                        text-align: center;
                    }
                }
            }
        }
    }

    .frase-index article{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        gap: 2rem;

        .circulo-index{
            position: absolute;
            left: 180px;
            width: 300px;
            height: 300px;
            background-color: var(--sky-blue);
            border-radius: 50%;
            z-index: 1;
        }
        img{
            position: relative;
            z-index: 2;
            width: 350px;
        }
        p{
            font-family: var(--kumbh);
            color: var(--white);
            text-shadow: 2px 2px 5px rgba(0,0,0,0.38);
            font-size: 1.5rem;
            width: 40%;
        }
    }

    .nosotros-index article{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        gap: 3rem;

        h2{
            font-family: var(--fredoka);
            color: var(--white);
            text-shadow: 0 1px 2px #2a2a2a;
            font-size: 1.8rem;
            line-height: 10vh;
            text-align: center;
        }
        
        .cont-carrusel-equipo{
            width: 100%;
            overflow: hidden;
        }

        .cont-equipo-index{
            display: flex;
            animation: moverCarrusel 30s linear infinite;
            gap: 2rem;
        }

        .equipo-index{
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: start;
            background-position: center;
            background-size: cover;
            border-radius: 2rem;
            width: 12rem;
            height: 16rem;
            padding: 10px;
            flex: 0 0 auto;

            .equipo-nombre,
            .equipo-rol{
                color: var(--white);
                font-family: var(--alata);
                text-shadow: 4px 4px 8px #000000;
            }
            .equipo-nombre{
                font-size: 1.3rem;
                line-height: 1.5rem;
            }
            .equipo-rol{
                font-size: 1rem;
            }

            .equipo-contacto{
                display: flex;
                padding-top: 10px;
                gap: 1rem;
                img{
                    width: 1.2rem;
                    filter: invert(1);
                }
                img:hover{
                    transform: scale(120%);
                }
            }
        }
        .equipo-index:hover{
            background-color: #00000088;
            background-blend-mode: multiply;
        }
    }
}

.footer-index{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--fredoka);

    .header-footer{
        width: 90%;
        border-bottom: 1px solid var(--white);
        display: flex;
        justify-content: space-between;
        align-items: end;
        padding: 1rem 0;

        img{
            width: 15rem;
            cursor: pointer;
        }

        .redes-footer {
            display: flex;
            gap: 2rem;

            img{
                filter: invert(1);
                width: 1.7rem;
            }
        }
    }

    .contenido-footer{
        display: flex;
        justify-content: space-around;
        padding: 20px;
        width: 90%;

        .columna-footer{
            flex: 1;
            margin: 0 15px;

            h3{
                color: var(--white);
                font-size: 1rem;
                margin-bottom: 10px;
            }

            ul{
                list-style-type: none;
                padding: 0;

                li{
                    margin-bottom: 8px;

                    a{
                        color: var(--soft-blue);
                        text-decoration: none;
                        font-size: .75rem;
                    }
                    a:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
        .suscribirse{
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            input[type="email"]{
                padding: 10px;
                border: none;
                border-radius: 5px;
                margin-bottom: 10px;
                width: 100%;
                max-width: 250px;
                font-family: var(--fredoka);
            }

            button{
                padding: 10px 20px;
                background-color: var(--secondary-blue);
                color: var(--white);
                border: none;
                border-radius: 5px;
                cursor: pointer;
                font-family: var(--fredoka);
                align-self: flex-end;
            }

            button:hover{
                background-color: var(--soft-blue);
            }
        }
    }

    .copyright-footer{
        width: 90%;
        border-top: 1px solid var(--white);
        padding: 1rem 0;
        text-align: center;

        p{
            font-size: .7rem;
            color: var(--white);
        }
    }
}

@keyframes moverCarrusel {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}