@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
body {
    font-family: "Kumbh Sans", sans-serif;
    font-style: bold;
    margin: 0;
    padding: 0;
    background-color: #90B4CE;

}
/*Empieza el nav*/
header {
    /*Si no gusta la fuenta, borrar este font family*/
    font-family: 'Alata', sans-serif;

    background-color: #A2C3DA;
    padding-left: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
    font-family: 'Alata', sans-serif;
    display: grid;
    grid-template-columns: auto auto auto 180px;
    align-items: center;
}

.logo img {
    margin-top: 10px;
    height: 70px;
    padding-left: 60px;
}

.search-bar {
    width: 400px;
    border-radius: 20px;
    padding-top: 15px;
}

.search-bar input {
    width: 200px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links li{
    display: inline-block;
    padding-right: 50px;
    
}

.profile-menu {
    position: relative;
    display: inline-block;
}

.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #65A8E5;
    padding: 10px;
    width: auto;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 30px;
    height: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);;
}

.dropbtn img{
    padding-bottom: 24px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    right: 0;
    min-width: 160px;
    border-radius: 5px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.show{
    display: block;
}

.active {
    background-color: white;
    border: 1px solid #ccc;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
/*ACA EMPIEZA EL BODY*/

main{
    display: flex;
    padding: 10px;
}

.cuadro-calendario{
    height: 90vh;
    width: 30vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.calendario{
    height: 85vh;
    width: 23.594vw;
    background-color: #C4E0EF;
    border-radius: 20px;
}
.calendario h1{
    color:  #094067;
    font-weight: bold;
}

.calendario p{
    margin-left: 5%;
    text-align: start;
    color: #094067;
}


.clases {
    height: 90vh;
    width: 70vw;
    display: flex;
    flex-direction: column; /* Cambia la dirección del eje principal a columna */
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.clases .container-misclases {
    width: 58.229vw;
    height: 35vh;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;

}


.clases .container-clasespausadas {
    width: 58.229vw;
    height: 35vh;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

.title{
    display: flex;
    align-items: center;  /* Centra verticalmente */
    justify-content: flex-start;
    color: #094067;
    width: 56.5vw;
    height: 3vh;
    font-size: 2rem;
    padding: 10px;
}
/***/
.container-clasespausadas .class-grid .class-item{
    background-color: rgba(9, 64, 103, 0.3);
    color: black;
}
.class-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px;
    margin-bottom: 10px;
    padding: 20px;
}

.class-item-misclases {
    background-color: #1a5f7a;
    color: white;

    padding: 10px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
}


.class-item{
    background-color: #1a5f7a;
    color: white;

    padding: 10px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
}
.add-class {
    color: #1D4F74;
    width: 30px;
    height: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    margin: auto;
}
.aniadir-clase{
    height: 4vh;
    width: 4vw;
}
.reuniones{
    height: 25%;
    padding: 5px;
}
.calendario-imagen{
    text-align: end;
}
.calendario-imagen img{
    height: auto;
    width: 12vh;
}
/*------------------Editando calendario------------------*/

.wrapper {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Asegura que el contenido se ajuste adecuadamente */
}

.header-calendario {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.header-calendario .current-date {
    font-size: 1.2vw;
    font-weight: 500;
}

.header-calendario .icons {
    display: flex;
}

.header-calendario .icons span {
    height: 2vw;
    width: 2vw;
    margin: 0 2px;
    cursor: pointer;
    color: #878787;
    text-align: center;
    line-height: 2vw;
    font-size: 1.2vw;
    user-select: none;
    border-radius: 50%;
}

.header-calendario .icons span:hover {
    background: #f2f2f2;
}

.calendar {
    flex: 1; /* Permite que el calendario crezca y se ajuste dentro de su contenedor */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ajusta el espacio entre los elementos */
    padding: 0 5px;
    box-sizing: border-box;
}

.calendar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.calendar .weeks li {
    font-weight: 500;
    cursor: default;
    width: calc(100% / 7);
    font-size: 0.9vw;
    margin-bottom: 5px;
}

.calendar .days {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start; /* Ajusta el alineamiento para evitar espacios vacíos */
    padding: 0;
    margin: 0;
}

.calendar li {
    color: #333;
    width: calc(100% / 7);
    font-size: 0.9vw;
    position: relative;
    padding: 0.5vw 0;
    box-sizing: border-box;
}

.days li.inactive {
    color: #aaa;
}

.days li.active {
    color: #fff;
    background-color: #1A5F7A;
    border-radius: 10px;
}

.days li::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 1.8vw;
    width: 1.8vw;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.days li.active::before {
    background: #3cafcf;
}

.days li:not(.active):hover::before {
    background: #f2f2f2;
}

/*iconos*/
.icons {
    font-family: 'Material Icons', sans-serif;
    font-size: 40px; /* Tamaño más grande para mejor visibilidad */
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Efecto de transparencia cuando el elemento se está arrastrando*/
.class-item-misclases.dragging {
    opacity: 0.5;
    border: 2px dashed #1a5f7a;
}
