@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
*{
    font-family: 'Alata';
}
body {
    font-family: 'Alata', sans-serif;
    background-color: #90B4CE;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #A2C3DA;
    padding-left: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: grid;
    grid-template-columns: auto auto auto 180px;
    align-items: center;
}

.logo img {
    margin-top: 10px;
    height: 70px;
    padding-left: 60px;
}

.search-bar {
    width: 400px;
    border-radius: 20px;
    padding-top: 15px;
}

.search-bar input {
    width: 200px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links li{
    display: inline-block;
    padding-right: 50px;
    
}

.profile-menu {
    position: relative;
    display: inline-block;
}

.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #65A8E5;
    padding: 10px;
    width: auto;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 30px;
    height: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);;
}

.dropbtn img{
    padding-bottom: 24px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    right: 0;
    min-width: 160px;
    border-radius: 5px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.show{
    display: block;
}

.active {
    background-color: white;
    border: 1px solid #ccc;
}

.location {
    padding-left: 120px;
    padding-top: 50px;
    padding-bottom: 10px;
}

.location a {
    text-decoration: none;
    color: white;
}

.container {
    padding-top: 5px;
    margin-left: 80px;
    margin-right: 80px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    gap: 10px;
    flex-grow: 1;
}

.profile-sidebar {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    height: 690px;
    text-align: center;
    background-color: #F8F3F3;
}

.contact-info {
    border-radius: 10px;
    height: fit-content;
}

.profile-info {
    background-color: #F8F3F3;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.profile-info img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 50px;
    object-fit: fill;
}

.profile-info h2,
.contact-info h2 {
    margin: 11px;
    color: #003366;
}

.profile-info p {
    color: #666;
    margin-bottom: 20px;
}

.stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    display: flex;
}

.stats div {
    text-align: center;
    font-size: 14px;
}

.btn {
    display: block;
    width: fit-content;
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}

.upload-btn {
    background-color: #65A8E5;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.upload-btn:hover{
    background-color: white;
    color: #003366;
    border: 1px solid black;
    height: 39px;
}

.delete-btn {
    background-color: white;
    color: black;
    border: black;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.delete-btn:hover{
    background-color: red;
    color: white;
    height: 39px;
}

.profile-main {
    border-radius: 10px;
    display: grid;
    gap: 40px;
}

.profile-main h2 {
    color: #003366;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="url"],
select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.btn.update-btn {
    background-color: #5D9ECD;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.btn.update-btn:hover{
    background-color: white;
    color: #003366;
    border: 0.5px solid black;
    margin-bottom: 15px;
    height: 39px;
    
}

.form-section {
    font-size: 15px;
    background-color: #F8F3F3;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: grid;
}

.form-section h2 {
    font-size: 14px;
    text-align: center;
}

.birthdate {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.form-section2 {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #F8F3F3;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.box1{
    grid-row: 1/2;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}