@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Kumbh+Sans:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');



body {
    font-family: 'Alata', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #90B4CE;
}
/*Empieza el nav*/
header {
    /*Si no gusta la fuenta, borrar este font family*/
    font-family: 'Alata', sans-serif;
    background-color: #A2C3DA;
    padding-left: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
    font-family: 'Alata', sans-serif;
    display: grid;
    grid-template-columns: auto auto auto 180px;
    align-items: center;
}

.logo img {
    margin-top: 10px;
    height: 70px;
    padding-left: 60px;
}

.search-bar {
    width: 400px;
    border-radius: 20px;
    padding-top: 15px;
}

.search-bar input {
    width: 200px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links li{
    display: inline-block;
    padding-right: 50px;
    
}

.profile-menu {
    position: relative;
    display: inline-block;
}

.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #65A8E5;
    padding: 10px;
    width: auto;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 30px;
    height: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);;
}

.dropbtn img{
    padding-bottom: 24px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    right: 0;
    min-width: 160px;
    border-radius: 5px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.show{
    display: block;
}

.active {
    background-color: white;
    border: 1px solid #ccc;
}
nav ul li a {
    color: #094067;
    font-weight: 800;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
}
nav ul li a:hover{
    color: white;
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/*Empezamos con la edicion del main*/
.contenedor{
    display: flex;
    height: 90vh;
    background-color: #90B4CE;
    padding: 5px;
    margin-top: 20px;
    align-items: center;
    gap: 1vw;
    justify-content: center;
}
/*Empieza la edicion del cuadro perfil*/
.perfil{
    display: flex;
    flex-direction: column;
    background-color: #C4E0EF;
    height: 80%;
    width: 17.969vw;
    border-radius: 50px;
    gap: 2vh;
}

.title{

    margin-top: 4VH;
    width: 100%;
    height: auto;
    text-align: center;
    color: #000000;

}

.imagen-usuario{
    display: flex;

    align-items: center;
    justify-content: center;
}
.imagen-usuario img{
    height: 16vh;
    width: 8vw;
    border-radius: 50%;
}
.datos{
    color: #616161;
    word-wrap: break-word; /* Permite que las palabras largas se rompan en varias líneas */
    text-align: center; /* Centra el texto */
    font-size: clamp(1rem, 2.5vw, 1.5rem); /* Ajusta el tamaño de la fuente de manera responsiva */
    margin: 0;
    text-align: center;
    font-size: 1rem;
}
.datos h1{
    font-weight: bold;
    color: #000000;
}

.datos p{
    font-family: 'Alegreya Sans SC';
    color: #616161;
}
.datos-tecnicos{

    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between; /* Espacio equitativo entre los elementos */
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    font-family: "Alegreya Sans SC", sans-serif;

}
.datos-tecnicos p{
    font-weight: 600;
    font-style: normal;
}

.idiomas{
    padding: 5px;
    display: flex;

    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow-wrap: break-word;
    width: 33.33%; /* Ocupa un tercio del contenedor */
    box-sizing: border-box;
    word-break: break-word;
}
.idiomas p {
    margin: 0;
    line-height: 1.2;
    font-size: clamp(1rem, 2vw, 1.5rem);
    word-wrap: break-word;
    white-space: normal;
    font-size: 1.5rem;
    color: #333333;
}

.clases{
    padding: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow-wrap: break-word;
    width: 33.33%; /* Ocupa un tercio del contenedor */
    box-sizing: border-box;
    word-break: break-word;
}
.clases p {
    margin: 0;
    line-height: 1.2;
    font-size: clamp(1rem, 2vw, 1.5rem);
    word-wrap: break-word;
    white-space: normal;
    font-size: 1.5rem;
    color: #333333;
}

.alumnos{
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow-wrap: break-word;
    width: 33.33%; /* Ocupa un tercio del contenedor */
    box-sizing: border-box;
    word-break: break-word;
}
.alumnos p {
    margin: 0;
    line-height: 1.2;
    font-size: clamp(1rem, 2vw, 1.5rem);
    word-wrap: break-word;
    white-space: normal;
    font-size: 1.5rem;
    color: #333333;
}
.title-tecnico{
    font-weight: bold;
    color: blue;
}

.boton{
    margin-top: 10%;
    height: 10%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}


.ver-mas{
    background-color: #65A8E5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vh;
    width: 8vw;
    padding: 10px;
    color: white;
    border: none;
    font-family: 'alata';
    font-size: 1.5rem;
    border-radius: 30px;
}
/*Edicion de cuadro profesor*/
.contenido-profesor{
    height: 70%;
    width: 52.99vw;
    background-color: #90B4CE;
    border-radius: 50px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3vh;
}


/*Empieza el armado del contenido de profesor*/
.article-datos{
    height: 90%;
    width: 18vw;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 26px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5vh;
}

/*Editando imagen de datos*/
.foto{
    height: 56%;
    width: 17vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foto img{
    height: 100%;
    width: 90%;
}

.conocimientos{
    background-color: blue;
    height: 29%;
    width: 75%;
}


/*Se edita descripcion*/
.descripcion{
    height: 80%;
    width: 55%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vh;
}

.titulo-nombre{
    height: 15%;
    width: 100%;

    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.titulo-nombre h1{
    font-family: 'Alata';
    font-size: 2rem;
    padding: 20px;
    font-weight: bold;
}
.descripcion-rol{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.descripcion-rol p{
    font-family: 'Alata';
    font-size: 1.5rem;
    padding: 20px;
}
.resumen-perfil{

    height: 30%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: rgba(0, 0, 0, .7);
    background-color: rgba(255, 255, 255, .5);
    border-radius: 26px;

}
.resumen-perfil p{
    font-family: 'alata';
    font-size: 1.2rem;
    padding: 26px;
}

.precio{
    margin-top: 2%;
    height: 12%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 26px;
}
.precio p{
    font-family: 'alata';
    font-size: 1.5rem;
    padding: 26px;
}

.botones{
    height: 15%;
    width: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2vw;
}

.botones a{
    height: 2vh;
    width: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #094067;
    padding: 15px;
    color: white;
    list-style: none;
    font-family: 'alata';
    font-size: 1.5rem;
    border-radius: 30px;
    text-decoration: none;
}
/*Pasamos a la parte de comentarios*/
.comentarios{
    height: 80%;
    width: 17.969vw;
    background-color: #C4E0EF;
    border-radius: 50px;
    gap: .7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-pregunta{
    height: 7%;
    width: 90%;
    color: #000000;
    background-color: #8FBFC9;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo-pregunta p{
    font-size: 1.5rem;

}

.personas-comentarios{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 50%;
    width: 100%;
    gap: 2vh;
}

.persona-foto{

    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 100%;
}

.img-persona{
    display: flex;
    justify-content: center;
    align-items: center;
 
    width: 20%;
    height: 100%;
}

.persona-comentario{

    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.nombre-persona{
    height: 40%;

    width: 100%;
    display: flex;
    align-items: center;
}

.nombre-persona p{
    padding: 20px;
    font-family: 'Alata';
    font-size: 1.5rem;
    color: rgba(0, 0, 0, .7);
}

.comentario-persona{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 60%;
    width: 80%;
    border-radius: 20px;
    border: 2px solid #000000;
    margin-left: 10px;

}
.comentario-persona p{
    font-size: 1.5rem;
}

.foto-monigote{
    height: 35%;

}