:root{
    font-size: 18px;
    font-weight: 400;
    /*colores*/
    --blanco: #FFFFFF;
    --celesteFondo: #A2CEF0;
    --celesteClaro: #3498db;
    --azul: #236391;
    --azul-oscuro: #094067;
    /*fonts*/
    --fredoka: "Fredoka", sans-serif;
    --alata: "Alata", sans-serif;
    --kumbh: "Kumbh Sans", sans-serif;
}

/*Debug*/
*{
    margin: 0;
    padding: 0;
}

.Body{
    display: flex;
    flex-direction: column;
    background-color: var(--celesteFondo);
    font-family: var(--kumbh);
}

.Header{
    font-family: 'Alata', sans-serif;
    background-color: #A2C3DA;
    padding-left: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar{
    font-family: 'Alata', sans-serif;
    display: grid;
    grid-template-columns: auto auto auto 180px;
    align-items: center;
}

.logo img {
    margin-top: 10px;
    height: 70px;
    padding-left: 60px;
}

.search-bar {
    width: 400px;
    border-radius: 20px;
    padding-top: 0px;
}

.search-bar input {
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid var(--blanco);
    width: 200px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li{
    display: inline-block;
    padding-right: 50px;
    
}

.profile-menu {
    position: relative;
    display: inline-block;
}

.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #65A8E5;
    padding: 10px;
    width: auto;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 30px;
    height: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);;
}

.dropbtn img{
    padding-bottom: 24px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    right: 0;
    min-width: 160px;
    border-radius: 5px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.show{
    display: block;
}

nav ul li a {
    color: var(--azul-oscuro);
    font-weight: 800;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
}
nav ul li a:hover{
    color: var(--blanco);
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.Main{
    flex: auto;
    padding: 20px;
    gap: 10px;
}

.container{
    display: flex;
    padding: 50px 100px;
    gap: 30px;
}

.catalogo{
    background-color: rgba(250, 250, 250, 0.596);
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalogo h2 {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--blanco);
}

.catalogo ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 20px;
}

.catalogo li {
    padding: 0.5rem 0;
}

.catalogo li a {
    text-decoration: none;
    color: var(--blanco);
    display: flex;
    align-items: center;
}

.catalogo li a i {
    margin-right: 15px; /* Espacio entre el ícono y el texto */
    font-size: 1.2em;
}

.catalogo li a:hover {
    color: var(--celesteClaro);
}

.catalogo li.active a {
    color: var(--celesteClaro);
    font-weight: bold;
}

.banner {
    background: linear-gradient(to right, #1A7196 0%, #1A7196 4%, #578CCA 50%, #578CCA 100%);
    padding: 10px;
    padding-left: 20px;
    border-radius: 20px;
    color: var(--blanco);
    text-align: left;
    flex: 1;
    width: auto;
    height: 50px;
    box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.1);
    text-shadow: 2px 10px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    font-size: 16px;

}

/* Main Content Area */
.profesores-disponibles {
    flex: 1;
    flex-direction: column;
    padding: 20px;
}

.cards-conteiner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 10%;
    margin: .8rem;
    gap: 1rem;
}

/* Card Styles */
.card{
    flex: 1;
    background-color: var(--blanco);
    width: 10rem;
    height: 13rem;
    border-radius: 20px;
    padding: 10px;
    padding-right: 15px;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.image-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.card-content{
    padding: 15px;
    text-align: center;
}

.card-content h3{
    margin: 0 0 10px 0;
}

.rating{
    color: var(--azul);
    margin: 5px 0;
}

.card-content button{
    background-color: var(--azul);
    color: var(--blanco);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card-content button:hover{
    background-color: var(--celesteClaro);
}

.right-section{
    flex: 1;
}

.tenes-alguna-duda{
    background: linear-gradient(to bottom, #1A7196 0%, #1A7196 4%, #578CCA 50%, #578CCA 100%);
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.tenes-alguna-duda h3{
    color: var(--blanco);
}

.tenes-alguna-duda img{
    width: 150px;
    height: auto;
}

.btn-consultar{
    background-color: #99BBDB;
    color: var(--blanco);
    font-family: 'Alata', sans-serif;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 60%;
    box-shadow:  0 5px rgba(0, 0, 0, 0.1);
}

.btn-consultar:hover{
    background-color: var(--azul-oscuro);
}
